{% load static %}

<div class="brand-logo d-flex align-items-center justify-content-between mt-2">
  <a href="/programas" class="text-nowrap logo-img">
    <img src="{% static 'images/logos/logo.svg' %}" class="dark-logo" alt="Logo-Dark" width="271">
    <img src="{% static 'images/logos/logo.svg' %}" class="light-logo" alt="Logo-light" width="271">
  </a>
  <a href="javascript:void(0)" class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none">
    <i class="ti ti-x"></i>
  </a>
</div>