{% load custom_filters %}        
        <article class="tab-pane fade" id="dados-orcamentarios" role="tabpanel" aria-labelledby="dados-orcamentarios-tab" tabindex="1">
          <div class="accordion-body p-0">
            <!-- Empenho -->
            <h5 class="section-title">Empenhos</h5>
            <div class="row mb-4">
              <table class="table text-nowrap mb-0 align-middle">
                <thead class="text-dark fs-4">
                  <tr>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Código</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Valor</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Valor Estornado</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Situação</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Data</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Processo</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for commitment in commitments %}
                    <tr>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ commitment.codigo }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ commitment.valor|currency }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ commitment.valor_estornado|currency }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ commitment.get_situacao_display }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ commitment.data }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ commitment.processo }}</p>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="6" class="text-center">Nenhum empenho encontrado</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <!-- Liquidação -->
            <h5 class="section-title">Liquidações</h5>
            <div class="row mb-4">
              <table class="table text-nowrap mb-0 align-middle">
                <thead class="text-dark fs-4">
                  <tr>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Código</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Valor</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Valor Estornado</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Situação</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Data</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Empenho</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for settlement in settlements %}
                    <tr>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ settlement.codigo }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ settlement.valor|currency }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ settlement.valor_estornado|currency }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ settlement.get_situacao_display }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ settlement.data }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ settlement.commitment.codigo }}</p>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="5" class="text-center">Nenhuma liquidação encontrada</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <!-- Pagamento -->
            <h5 class="section-title">Pagamentos</h5>
            <div class="row mb-4">
              <table class="table text-nowrap mb-0 align-middle">
                <thead class="text-dark fs-4">
                  <tr>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Código</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Valor</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Valor Estornado</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Situação</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Ordem Bancária</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Data</h6>
                    </th>
                    <th>
                      <h6 class="fs-4 fw-semibold mb-0">Liquidação</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for payment in payments %}
                    <tr>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ payment.codigo }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ payment.valor|currency }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ payment.valor_estornado|currency }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ payment.get_situacao_display }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ payment.ordem_bancaria }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ payment.data }}</p>
                      </td>
                      <td>
                        <p class="mb-0 fw-normal fs-4">{{ payment.settlement.codigo }}</p>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="6" class="text-center">Nenhum payment encontrado</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </article>